@media only screen and (min-width:992px){
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    .header-child-1 img{
        margin-top: 19px;
        margin-left: 20px;
    }
    .header{
        /* border: 2px solid black; */
        width: 100%;
       height: 75px;
        display: flex;
        background-color: black;
        position: fixed;
        top: 0;
        overflow: hidden;
        z-index: 8;
      
    }
    /* .header-child-1{
            width: 5%;
            height: 100%;
            background-color: black;
    
    } */
    .header-child-2{
        width: 95%;
        height: 100%;
        background-color: black;
    }
    .navigation{
        display: flex;
        height: 98px;
        width: 100%;
        list-style-type: none;
       margin-left: 0px;
    }
    .navigation>li{
        margin: 12px;
        font-size: 16px;
        margin-top: 27px;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: white;
        
    }
    a:hover{
        color: red;
    }
    .btn{
        background-color: red;
        height: 78px;
        width: 196px;
        color: white;
        font-size: 17px;
        position: relative;
    }
    /* two and section css */
 .two-section-div{
    width: 100%;
    height: 600px;
    margin-top: 74px;
    display: flex;
    position: relative;
 }
 .two-direction-div-1{
    width: 45%;
    height: 90%;
    border: 2px solid black;
    background-color: black;
   /* border: 2px solid red; */
 }
 .two-direction-div-2{
    width: 55%;
    height: 90%;
    border: 2px solid black;

 }
 .logo{

   margin-left: 90px;
   margin-top: 110px;
 }
 .logo-text{
    color: white;
    font-size: 40px;
    margin-left: 90px;
    margin-top: 10px;
 }
 .logo-text-2{
    margin-left: 90px;
    color: white;
    font-size: 22px;
    margin-top: 20px;
 }
 .Book-Now{
    width: 200px;
    height: 70px;
    margin-top: 40px;
    margin-left: 90px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
 font-size: 20px;
 }
 /* three section css */
 .three-section-div{
    width: 100%;
    height: 600px;
   /* border: 1px solid; */
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
 }
 .three-section-div-1{
    width: 45%;
   height: 90%;
   /* border: 1px solid rgb(0, 0, 0); */
    margin-left: 20px;
}
.three-section-div-1-1{
    width: 50%;
   /* height: 90%;
   border: 1px solid rgb(0, 0, 0); */
    margin-left: 20px;
    margin-top: 30px;
}
.three-section-div-1 img{
    height: 90%;
    width: 90%;
}
.parts{
    width: 100%;
    height: 90px;
    margin-top: 5px;
    display: flex;
    
}
.parts-div-1{
    width: 10%;
    height: 70%;
    
}
.parts-div-2{
    width: 90%;
    height: 100%;
    /* margin-left: 20px; */
}
    .parts img{
        margin-left: 10px;
        margin-top: 50px;
    }
    .parts p{
        font-size: 23px;
        margin-top: 50px;
        opacity: 0.8;
        margin-left: 50px;
    }
    .story{
        font-size: 30px;
       margin-left: 60px;
       margin-top: 0px;
       
    }
    .three-section-div-1>p{
        font-size: 18px;
        margin-top: 20px;
        margin-left: 60px;
        line-height: 27px;
        opacity: 0.7;
    }
    .three-section-div-1>input{
         border: 3px solid red;
         background-color: white;
         width: 150px;
         height: 60px;
         margin-top: 30px;
         margin-left: 60px;
         font-size: 19px;
         color: red;
         cursor: pointer;
    }
    .three-section-div-1>input:hover{
        background-color: red;
        color: white;
    }

    /* forth section css */
    .forth-main{
        /* border: 1px solid black; */
        width: 100%;
        height: 410px;
        margin-top: 400px;
        display: flex;
    }
    .forth-div-1{
        /* border: 2px solid red; */
        width: 50%;
        height: 89%;
        display: flex;
        flex-wrap: wrap;
    }
    .forth-div-part{
        width: 33.3%;
        height: 190px;
        /* border: 1px solid orange; */
 }
 .forth-div-2{
  width: 40%;
  height: 100%;
}
 .forth-div-part img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.forth-div-2 h1{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.forth-div-hr{
    width: 110%;
    margin-left: 40px;
    margin-top: 30px;
    color: black;
}
.price-with-text{
    width: 120%;
    height: 100%;
    margin-left: 40px;   
}
.prices-divs{
    width: 90%;
    height: 50px;
    /* border: 2px solid red; */
    display: flex;
}
.price-with-text-div-1{
    width: 70%;
    height: 50px;
}
.price-with-text-div-1 p{
    font-size: 19px;
    margin-top: 10px;
    
}
.price-with-text-div-2{
    width: 30%;
    height: 600px;
    display: flex;
}
.price-with-text-div-2 p{
    font-size: 21px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.price-with-text-div-2 h6{
    font-size: 21px;
    margin-top: 10px;
    
}
.foth-under-hr{
  width: 89%;
  opacity: 0.6;
}
 /* fifth section */
 .fifth-main{
    width: 100%;
    height: 700px;
    margin-top: 10px;
    display: flex;
  }
  .fifth-div-1{
    width: 50%;
    height: 100%;
  }
  .fifth-div-1 h1{
    color: black;
    font-size: 32px;
    margin-top: 150px;
    margin-left: 30px;
  }
  .fifth-div-1 select {
    height: 8%;
    font-size: 23px;
    width: 90%;
    background-color: red;
    color: white;
    margin-left: 30px;
    margin-top: 40px;
    padding: 15px;
    cursor: pointer;
  }
  .fifth-div-1 option{
    background-color: white;
    color: black;
    margin-top: 20px;
  }
  .fifth-div-1 select:hover{
    background-color: black;
    color: white;
  }
  .fifth-div-2{
    width: 50%;
    height: 100%;
  }
  .fifth-div-2 img{
    max-width: 100%;
    margin-top: 70px;
    margin-left: 70px;
    width: 78%;
    height: 60%;
  }
  /* sixth section css */
  .six-main{
    border: 2px solid black;
    width: 100%;
    height: 430px;
    margin-top: 0px;
    background-image: url(https://preview.colorlib.com/theme/narosundar/assets/img/gallery/section-bg.jpg.webp);
    background-color: black;
    background-blend-mode: difference;
  }
  .six-main-div{
    width: 100%;
    height: 320px;
    margin: auto;
    display: flex;
    margin-top: 50px;
  }
  .six-main-div-part{
    width: 30%;
    height: 90%;
    margin: auto;
    background-color: black;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 20px;
  }
  .six-main-div-part img{
    height: 17%;
    width: 21%;
    margin-left: 120px;
    margin-top: 25px;
  }
  .six-main-div-part h3{
    color: #F4F6F7;
    font-size: 25px;
    margin-left:60px;
    margin-top: 10px;
  }
  .six-main-div-part p{
    color: white;
    margin-left: 40px;
    text-align: justify;
    margin-top: 20px;
    font-size: 17px;
    opacity: 0.6;
  }
  /* seven section css */
.seven-main{
    width: 100%;
    height: 180px;
    display: flex;
}
.seven-main-div{
    width: 20%;
    height: 100%;
}
.seven-main-div img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* eight section css */
.eight-main{
    height: 500px;
    width: 100%;
    margin-top: 120px;
  }
  .eight-main h1{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
  }
  .eight-div-1{
    width: 98%;
    height: 250px;
    margin: auto;
    margin-top: 80px;
    display: flex;
  }
  .eight-div-1-parts{
    width: 31%;
    /* height: 100%;
    border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .eight-parts-div-1{
    width: 100%;
    height: 70px;
  }
  .eight-parts-div-2{
    width: 100%;
    height: 100px;
  }
  .eight-parts-div-3{
    width: 100%;
    height: 60px;
    display: flex;
    /* margin-top: 13px; */
  }
  .eight-div-3-img{
    width: 20%;
    height: 100%;
  }
  .eight-div-3-img img{
    margin-left: 40px;
  }
  .eight-div-3-name{
    width: 80%;
    height: 100%;   
  }
  .eight-div-3-name p{
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.9;
    margin-left: 25px;
  }
  .eight-parts-div-1 img{
    height: 90px;
    width: 30%;
    margin-left: 40px;
  }
  .eight-parts-div-2 p{
    font-size: 17px;
    margin-left: 40px;
    opacity: 0.9;
    margin-top: 12px;
  }

  /* footer coding css */
.footer-main{
    border: 1px solid rgb(207, 67, 67);
    width: 100%;
    height: 400px;
    margin-top: 10px;
    background-color: black;
    
  }
  .footer-main-div{
    width: 100%;
    height: 300px;
    /* margin: auto; */
    margin-top: 30px;
    display: flex;
    /* border: 2px solid red; */
  }
  .footer-div-1{
    width: 30%;
    height: 100%;
    /* margin-left: 10px; */
    /* border: 1px solid orange; */
  }
  .footer-div-2{
    width: 40%;
    height: 100%;
    /* margin-left: 120px; */
    /* border: 1px solid orange; */
  }
  .footer-div-3{
    width:30%;
    height: 100%;
    /* margin-left: 100px; */
    /* border: 1px solid orange; */
  }
  .footer-div-1 img{
    width: 13%;
    height: 13%;
    margin-top: 10px;
    margin-left: 30px;
  }
  .footer-div-1 p{
    color: white;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .footer-div-1 h6{
    color: white;
    font-size: 17px;
    margin-left: 30px;
    margin-top: 15px;
    opacity: 0.7;
    cursor: pointer;
  }
  .footer-div-1 h6:hover{
    color: #F4F6F7;
    text-decoration: underline;
  }
  .footer-div-2 img{
    height: 30%;
    width: 60%;
    margin-left: 80px;
    margin-top: 20px;
  }
  .footer-div-2 p{
    font-size: 17px;
    color: white;
    opacity: 0.6;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    /* margin-left: 6px; */
  }
  .footer-icon{
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    display: flex;
  }
  .footer-icon-div{
    width: 25%;
    height: 75%;
    margin: auto;
    background-color:gray;
    border-radius: 60%;
    cursor: pointer;
    opacity: 0.9;
  }
  .footer-icon-div:hover{
    background-color: red;
    color: white;
  }
  .ic{
    color: white;
    font-size: 22px;
    text-align: center;
    margin-left: 13px;
    margin-top: 8px;
   
  }
  .ic-2{
    color: white;
    font-size: 23px;
    text-align: center;
    margin-left: 15px;
    margin-top: 8px;
   
  }
  .ic-3{
    color: white;
    font-size: 21px;
    text-align: center;
    margin-left: 15px;
    margin-top: 8px;
   
  }
  .footer-div-3 img{
    height: 35px;
    width: 35px;
    margin-left: 60px;
    margin-top: 20px;
  }
  .footer-div-3 p{
    color: white;
    font-size: 21px;
    margin-left: 60px;
    margin-top: 10px;
  }
  .footer-div-3 h6{
    color: white;
    font-size: 17px;
    margin-left: 60px;
    margin-top: 15px;
    opacity: 0.7;
    cursor: pointer;
  }
  .Copyright{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }

    
}

 
